@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #333333;
  --primary: #66bb6a;
  --primary-dark: #388e3c;
  --secondary: #4db6ac;
  --light-text: #666666;
  --background-light: #f9f9f9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-secondary: var(--secondary);
  --color-light-text: var(--light-text);
  --color-background-light: var(--background-light);
  --font-sans: var(--font-geist-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }
}

.animate-bounce-slow {
  animation: float 6s ease-in-out infinite;
}